<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2 style="background-color: #04AA6D;text-align: center;">Login Form</h2>



<form  [formGroup]="registrationForm" (ngSubmit)="onRegSubmit()">
 <!-- <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div> -->

 <div class="container">
     <!--<div class="form-group">
        <label for="uname"><b>Username</b></label>
        <input type="text"  formControlName="uname" placeholder="Enter Username" name="uname"  ngModel required>
     
        <span class="text-danger" *ngIf="(f.uname.touched || submitted) && f.uname.errors?.required"><small>Please enter your name</small></span>
                         
    </div>-->

    <div class="form-group">
      <label for="email"><b>Email</b></label>
      <input type="email"  formControlName="email" placeholder="Enter Email" name="email"  ngModel>
         <span class="text-danger"
            *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
            Email is required
        </span>
        <span class="text-danger"
            *ngIf="f.email.touched && f.email.errors?.email">
            Enter a valid email address
        </span>
    </div>

    <div class="form-group">
    <label for="psw"><b>Password</b></label>
    <input type="password"  formControlName="pwd" placeholder="Enter Password" name="pwd"  ngModel>
    <span class="text-danger"
    *ngIf="(f.pwd.touched || submitted) && f.pwd.errors?.required">
    Password is required
</span>
<span class="text-danger"
    *ngIf=" f.pwd.errors?.invalidPassword">
    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
    letter and 1 number
</span>  
  </div>
   
    
  <button type="submit" routerLink="/login" >Login</button><span></span>

  <button  routerLink="/register">Register</button>

    
   <!--<label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>-->
  </div>

  <!--<div class="container" style="background-color:#f1f1f1">
    
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
  <h1 class="text-danger">{{responseMsg}}</h1>
</form>


</body>
</html>
