<app-admin-dashboard></app-admin-dashboard>
<nav class="navbar navbar-dark bg-dark" >
    <div class="row"><br><br></div>

    <div class="container-fluid">
        <h1 class="navbar-brand" style="color: whitesmoke; margin-left: 10px;">Add Airline</h1>
       
    </div>
  
</nav>
<form  [formGroup]="airline" (ngSubmit)="onAirlineSubmit()">

    <div class="form-group">
        <label for="airlineName" style="color: rgb(189, 15, 15);"><b>Airline Name</b></label>
        <input type="text" size="10" formControlName="airlineName" placeholder="Enter Airline" name="airlineName"  ngModel required>
        <span class="text-danger" *ngIf="(f.airlineName.touched || submitted) && f.airlineName.errors?.required"><small>Please enter airline name</small></span>
                         
    </div>
    <button type="submit"  style="width: min-content;" class="btn btn-success">Add</button>
    </form>
<p class="text-danger">{{responseData}}</p>
<div class="row d-flex justify-content-center" >
    <div class="col-sm-10">
        <h5 style="text-align: center; margin-top: 20px;color: red;margin-right: 120px;">Airlines</h5>
        <div><br></div>
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Airline ID </th>
                <th>Airline Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of airlineList">
                    <td>{{list.id}} </td>
                    <td>{{list.airlineName}}</td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>