<app-admin-dashboard></app-admin-dashboard>
<form [formGroup]="discountForm" >
    <h5 class="row d-flex justify-content-center" style="margin-top: 20px;color:red;margin-right: 120px;font-family: sans-serif;">Manage Discounts</h5> <br>
    <div class="row g-2"  style="margin-left: 200px;">
        <div class="col-md-4">
        <label  class="form-label"><b></b></label>
        <input type="text" formControlName="DiscountCoupon" class="form-control" placeholder="Enter coupon name" />
        <p align="center" class="text-danger" *ngIf="(f.DiscountCoupon.touched || submitted) && f.DiscountCoupon.errors?.required">
            Coupon name is required</p>
    </div>

      <div class="col-md-4">
        <input type="text" formControlName="Amount" class="form-control" placeholder="Enter discount amount" />
        <p align="center" class="text-danger" *ngIf="(f.Amount.touched || submitted) && f.Amount.errors?.required">
            Coupon amount is required</p>
    </div>
    </div>   
    <div class="col-sm-5" style="text-align: center;margin-top: 10px;align-items: center;"><br>
        <input type="button" style="margin-left: 519px;" class="btn btn-info" (click)="onAdd(discountForm.value)"  value="Add" />
    </div>
 </form>
 <div class="row d-flex justify-content-center" >
    <div class="col-sm-10">
        <h5 style="text-align: center; margin-top: 20px;color:brown;">Discounts</h5>
        <div><br></div>
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Coupon Name </th>
                <th>Discount Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let disc of discounts">
                    <td>{{disc.discountCoupon}}</td>
                    <td>{{disc.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>