

<nav class="navbar navbar-dark bg-dark" >
    <div class="row"><br><br></div>

    <div class="container-fluid">
        <h1 class="navbar-brand" style="color: whitesmoke; margin-left: 20px;">User Home</h1>
        <div class="d-flex">
            
            <!--<button  routerLink="/searchFlight" class="btn btn-success mx-3 submit">Search Flight</button> -->
            <button  routerLink="/bookFlight" class="btn btn-success mx-4 submit">Book Flight</button>
            <button    routerLink="/manageBookings" class="btn btn-success mx-3 submit">Manage Bookings</button>
            <button routerLink="/bookingHistory"    class="btn btn-success mx-3 submit">Booking History</button> 
            <button routerLink="/getTicketDetails"    class="btn btn-success mx-3 submit">Ticket Details</button> 
            
            <button (click)="Logout()"  class="btn btn-danger mx-3">LogOut</button>
        </div>
      
    </div>

   
</nav>
<nav >
<!--<div class="container-fluid">
    <h1 class="" style="color:black">User Home</h1>
<div class="d-flex">
    <button type="button" style=" margin-right: 200px;" class="btn btn-primary mx-4">Search Flight</button>
<button type="button" class="btn btn-secondary mx-3">Search Flight</button>
<button type="button" class="btn btn-success mx-3">Search Flight</button>
<button type="button" class="btn btn-danger mx-3">Search Flight</button></div>
</div>
</nav>-->


<!--style="background-color: blueviolet;border-color: ghostwhite"
<div>
    <app-add-airline [showMePartially]="showVar"></app-add-airline>
</div>-->


